*{
    margin: 0px;
    padding: 0px;
}
.education .row {
    background-color: rgb(49, 49, 48);
    list-style: none;
}

.list-item {
    list-style: none;
}

.list-item h2 {
    font-size: 2rem;
}

.list-item p {
    font-size: 1rem;
    color: darkgray;
}

.education .header{
    font-size: 3rem;
}

.experience-header{
    font-size: 3em;
}
