*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #184375;
}


body {
    background-color: white;
}

/*About*/
.about-me .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.about-me img{
    width: 20%;
    border-radius: 50%;
}

.about-me p{
    width: 50%;
}

/*Portfolio*/
.portfolio a{
    text-decoration: underline;
    color: black;
    font-size: 2rem;
}

.portfolio a:hover{
    color: blue;
}

/*Education*/
.education .row {
    background-color: #14539a;
    list-style: none;
}

.education .header{
    color: beige;
}

.list-item {
    list-style: none;
}

.list-item h2 {
    font-size: 2rem;
}

.list-item p {
    font-size: 1rem;
    color: beige;
}

.education .header{
    font-size: 3rem;
}

/*Experience*/
.experience-header{
    font-size: 3em;
}

/*Footer*/
.footer {
    background-color: #0d3562;
    line-height: 3em;
    color: white;
    text-align: center;
}

.footer .element{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.email{
    text-decoration: none;
    color: white;
}

.linkedin{
    text-decoration: none;
    color: white;
}

.linkedin:hover {
    cursor: pointer;
    color: #0077B5;
}